.completeListing {
	background-color: #fff;
	height: 100%;
	overflow-y: scroll;

	.carousel {
		min-width: 100%;
		max-width: 100%;
	}

	.closeListing {
		position: absolute;
		top: 5px;
		left: 7px;
	}

	.thumbnail {
		width: auto;
		height: auto;
	}

	.info {
		padding: 15px;
	}

	.title {
		font-size: 26pt;
	}

	.boxes {
		margin-top: 10px;
		font-size: 12pt;

		.box {
			padding: 3px 0;
		}
	}

	.description {
		font-size: 14pt;
		margin-top: 10px;
	}
}

.bottomContainerPadding {
	padding-bottom: 100px;
}