.bottomContainer {
	background-color: #fff;
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 15px;
	box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1);

	.bottomButton {
		color: #000;
		font-size: 14pt;
		font-weight: bold;
		padding: 14px 50px;
		border-radius: 5px;
		float: right;
		border: 0;
		margin-right: 30px;
	}
}

.primaryButton {
	background-color: #FFCD1D;
}

.secondaryButton {
	background-color: #E5E5E5;
}

.displayLinebreak {
  white-space: pre-line;
}

.h1 {
	font-size: 26pt;
}

.h2 {
	font-size: 16pt;
}

.paragraph {
	font-size: 16pt;
}

.paragraphS {
	font-size: 14pt;
}

.mt15 {
	margin-top: 15px;
}

.mt30 {
	margin-top: 30px;
}

.divisor {
	padding: 0 8px;
}

.socialLink {
	color: #828282;
	text-decoration: underline;
}

.subtleButton {
	width: 100%;
	background-color: white;
	border: 1px solid #C2C2C2;
	border-radius: 3px;
	padding: 6px 0;
	margin-top: 18px;
	font-size: 11pt;
}